{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Converter Screen</title>
  <link rel="stylesheet" href="{% static 'converter/styles.css' %}">
</head>
<body>
  <div class="converter-container">
    
    <!-- Full Dataset Popup-->
    <div class="popup" id="dataset_popup">
      <div class="dataset_content">
        <div class="popup-header">
          <h2 class="popup-title">Full Dataset</h2>
        </div>
        <table class="csv-table">
          <thead>
            <tr>
              {% for header in headers %}
                <th>{{ header }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in full_table %}
              <tr>
                {% for cell in row %}
                  <td>{{ cell }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button class="close-button" onclick="closeDatasetForm()">Close</button>
      </div>
    </div>


    <!-- LEFT: CSV Preview -->
    <section class="panel panel-left">
      <h2 class="panel-title">CSV Preview</h2>
      
      <table class="csv-table">
        <thead>
          <tr>
            {% for header in headers %}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
            <tr>
              {% for cell in row %}
                <td>{{ cell }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    

      <button type="button" class="load-button" onclick="openDatasetForm()">Load Full Dataset</button>
  
    </section>

    <!-- MIDDLE: Vocabulary Recommender -->
    <section class="panel panel-middle">
      <h2 class="panel-title">Vocabulary Recommender</h2>
    </section>

    <!-- RIGHT: JSON Preview -->
    <section class="panel panel-right">
      <h2 class="panel-title">JSON Preview</h2>
    </section>

  </div>
  <script src="{% static 'converter/main.js' %}"></script>
</body>
</html>
