{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Cow</title>
    <link rel="stylesheet" href="{% static 'converter/styles.css' %}">
    <link rel="icon" href="{% static 'converter/cow.ico' %}" type="image/x-icon">
</head>
<body>
    <!-- Loader screen that is triggered after convert button press -->
    <div class="loader_page" id="loader_page">
        <div class="spinner"></div>
        <div class="header-loader">
            Loading
        </div>
    </div>


    <div class="screen-container">
        <!-- Main Content Block -->
        <form method="POST" enctype="multipart/form-data" class="form-box">
            {% csrf_token %}
            <h1 class="welcome_title">Welcome to Smart Cow</h1>

            <input type="text" name="api_endpoint" placeholder="Optional: Insert API endpoint" class="api-input">

            <label for="csv_file" class="file-button">Select File</label>
            <input type="file" name="csv_file" id="csv_file" accept=".csv" class="file-input">

            <!-- Dynamically Change the label-->
            <div class="file-label">
                {{ file_name | default:"No File Selected" }}
            </div>

            <button type="submit" class="convert-button-start" id="convert-button-start" onclick="loadingScreen()">Convert</button>
        </form>
    </div>

    <!-- Link the JS file -->
    <script src="{% static 'converter/main.js' %}"></script>
</body>
</html>
